body{
    padding-top: 50px;
    padding-left: 100px;
    background-color: rgba(240, 237, 237, 0.911);
}

p{
    font-size: 15px;
    width: 100%;
}

.css-div-video-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 10px;
    margin-right: 20px;
}

@media (max-width: 500px)
{
    .css-div-video-container{
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 500px) and (max-width:1000px)
{
    .css-div-video-container{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1001px)
{
    .css-div-video-container{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}


/* .css-div-video-preview{
    
} */


.css-thumbnail-image{
    width: 100%;
}

.css-div-video-deatils{
    display: grid;
    grid-template-columns: 50px 1fr;
    column-gap: 10px;
}

.css-channelImage{
    width: 100%;
    border-radius: 50%;
}

/* .css-video-title{
    
} */

.css-div-thumbnail-image{
    padding-bottom: 8px;
    position: relative;
}

.css-div-header{
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    height: 25px;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px;
    border-style: sold;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgba(248, 246, 246, 0.822);;
    padding-top: 5px;
    height: 30px;
    z-index: 100;
}

.css-div-search{
    display: flex;
    flex-direction: row;
    flex: 0.3;
    width: 0;
}

.css-div-search input{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    border-color: gray;
    border-right: none !important;
    padding-left: 15px;
    border-style: solid;
    flex: 1;
    height: 100%;
}

.css-div-search div button{
    border-color: gray;
    border-style: solid;
    cursor: pointer;
    transition: background-color 0.15s;
    flex: 0.07;
    height: 100%;
}

.css-div-search div button:active{
    background-color: gray;
}

.css-div-search div button img{
    height: 100%;
}

.css-div-icon-sideBar{
    flex: 0.15;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin-left: 30px;
}

.css-div-icon-sideBar button{
    cursor: pointer;
    height: 100%;
    width: 100%;
    border: none;
    flex: 0.4;
    margin-right: 30px;
    background-color: transparent;
}

.css-div-icon-sideBar .css-youtube-logo{
    flex: 2;
    height: 100%;
}

.css-div-icon-sideBar button img{
    height: 100%;
}

.css-div-smallChannelPanel{
    flex: 0.15;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.css-div-notification{
    display: flex;
}

.css-notifications-baseImage{
    position: relative;
}

.css-account-image{
    height: 100%;

}

.css-div-notifications-count{
    font-size: 12px;
    color: white;
    background-color: rgb(190, 7, 7);
    border-radius: 50%;
    border: none;
    position: absolute;
    top: 2px;
    right: 71px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.css-div-voice-search{
    flex: 0.017;
    margin-left: -180px;
}

.css-div-voice-search img{
    height: 100%;
}

.css-sidebar{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 41px;
    width: 100px;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-top: 3px;
    z-index: 200;    
}

.css-sidebar-icon{
    background-color: rgba(248, 246, 246, 0.822);
    flex: 1;
    display: flex;
    flex-direction: column;
    /* width: 40%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.css-sidebar-icon img{
    height: 35%;
}

.css-sidebar-icon div{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

.css-video-time{
    position: absolute;
    bottom: 9px;
    right: 2px;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 2px;
    border-radius: 5px;
}

.css-left-side{
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(223, 211, 211, 0.822);
    width: 20px;
    z-index: 200;
}

.css-search-butt{
    position: relative;
}

.css-search-butt-tooltip{
    position: absolute;
    background-color: rgb(31, 29, 29);
    bottom: -20px;
    right: -10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s;
    color: white;
    padding: 2px;
}

.css-search-butt:hover .css-search-butt-tooltip{
    opacity: 0.5;
}