body{
    padding-top: 50px;
    padding-left: 100px;
}

p{
    font-size: 15px;
    width: 100%;
}

.css-div-video-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 10px;
}

/* .css-div-video-preview{
    
} */


.css-thumbnail-image{
    width: 100%;
}

.css-div-video-deatils{
    display: grid;
    grid-template-columns: 50px 1fr;
    column-gap: 10px;
}

.css-channelImage{
    width: 100%;
    border-radius: 50%;
}

/* .css-video-title{
    
} */

.css-div-thumbnail-image{
    padding-bottom: 8px;
    position: relative;
}

.css-div-header{
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    height: 25px;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px;
    border-style: sold;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: white;
    padding-top: 5px;
    height: 30px;
    z-index: 100;
}

.css-div-search{
    display: flex;
    flex-direction: row;
    flex: 0.3;
}

.css-div-search input{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    border-color: gray;
    border-right: none !important;
    padding-left: 15px;
    border-style: solid;
    flex: 1;
    height: 100%;
}

.css-div-search button{
    border-color: gray;
    border-style: solid;
    cursor: pointer;
    transition: background-color 0.15s;
    flex: 0.07;
}

.css-div-search button:active{
    background-color: gray;
}

.css-div-search button img{
    height: 100%;
}

.css-div-icon-sideBar{
    flex: 0.15;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.css-div-icon-sideBar button{
    cursor: pointer;
    height: 100%;
    width: 100%;
    border: none;
    flex: 0.4;
}

.css-div-icon-sideBar .css-youtube-logo{
    flex: 2;
    height: 100%;
}

.css-div-icon-sideBar button img{
    height: 100%;
}

.css-div-smallChannelPanel{
    flex: 0.15;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.css-div-notification{
    display: flex;
}

.css-notifications-baseImage{
    position: relative;
}

.css-div-notifications-count{
    font-size: 12px;
    color: white;
    background-color: red;
    border-radius: 50%;
    border: none;
    width: 10px;
    position: absolute;
    top: 5px;
    right: 72px;
}

.css-div-voice-search{
    flex: 0.017;
    margin-left: -180px;
}

.css-div-voice-search img{
    height: 100%;
}

.css-sidebar{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 41px;
    width: 100px;
    background-color: white;
}

.css-video-time{
    position: absolute;
    bottom: 9px;
    right: 2px;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 2px;
    border-radius: 5px;
}