p{
    font-size: 15px;
    width: 100%;
}

.css-div-video-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 10px;
}

/* .css-div-video-preview{
    
} */


.css-thumbnail-image{
    width: 100%;
}

.css-div-video-deatils{
    display: grid;
    grid-template-columns: 50px 1fr;
    column-gap: 10px;
}

.css-channelImage{
    width: 100%;
    border-radius: 50%;
}

/* .css-video-title{
    
} */

.css-div-thumbnail-image{
    padding-bottom: 8px;
}

.css-div-header{
    display: flex;
    flex-direction: row;
    /* border-width: 1px;
    border-color: black;
    border-style: solid; */
    margin-bottom: 30px;
    height: 30px;
    justify-content: space-between;
}

.css-div-search{
    display: flex;
    flex-direction: row;
    flex: 0.5;
}

.css-div-search input{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    border-color: gray;
    border-right: none !important;
    padding-left: 15px;
    border-style: solid;
    flex: 1;
}

.css-div-search button{
    border-color: gray;
    border-style: solid;
    cursor: pointer;
    transition: background-color 0.15s;
    flex: 0.07;
}

.css-div-search button:active{
    background-color: gray;
}

.css-div-search button img{
    height: 100%;
}

.css-div-icon-sideBar{
    flex: 0.15;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.css-div-icon-sideBar button{
    cursor: pointer;
    height: 100%;
    width: 100%;
    border: none;
    flex: 0.5;
}

.css-div-icon-sideBar img{
    flex: 0.5;
}

.css-div-icon-sideBar button img{
    height: 40px;
}