.css-div-t1{
    background-color: lightblue;
    height: 50px;
    margin-right: 10px;
}

.css-div-t2{
    background-color: lightpink;
    height: 50px;
    margin-right: 10px;
}

.css-div-container{
    height: 100px;
    display: flex;
    flex-direction: row;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    justify-content: space-around;
    align-items: center;
}